@model WriterFlow.Models.WriterPrompt


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<body id="form" class="cover-container text-center">
    <div class="cover-container d-flex w-100 h-50 p-3 mx-auto flex-column">
        <header class="masthead mb-auto"><!--nav bar--></header>
        <main role="main" class="inner cover">
            <h1 class="cover-heading">WritersFlow</h1>
            <p class="lead">
                WritersFlow is a tool to clear your writers block.
                Click below, recieve a prompt, and let your creative juices flow.
            </p>
            <!--button-->
            <p class="lead">
                <a href="Home/ShowPrompt" class="btn btn-lg btn-primary">Create</a>
                I would like to see this change run on my browser and rendered on GitHub 
            </p>
        </main>
    </div>
</body>

<style>
    #form {
        margin-top: 275px;
    }
</style>
