<table class="cover-heading" id="promptHeading">
    <tr>
        <th>Write about the following prompt</th>
    </tr>

    <!--jQuery "table" goes here-->

</table>

<script src="~/Scripts/umd/jquery-3.5.1.min.js"></script>
<script type ="text/javascript">

    $(document).ready(function() {
        /*Retrives and dynamically creates prompt in html */
        GetPrompt();
    });

 
    function GetPrompt() {

        /*url to controller & action in question*/
        $.get('/Home/ShowPrompt', {}, function (data) {

            var Prompts = $("#promptHeading");

            $.each(data, function (index, item) {

                var tr = $("<tr></tr>");

                tr.html(

                    ("<td>" + item.Prompt + "</td>")
                );

            Prompts.append(tr);

            })/*.each()*/
        }); /*.get()*/
    }; /*GetPrompt()*/

</script>

 

