<table class="cover-heading" id="promptHeading">
    <tr>
        <th>Write about the folloiwing prompt</th>
    </tr>

    <!--jQuery "table" goes here-->

</table>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script type ="text/javacript">

    $(document).ready(function() {
       <!--Retrives and dynamically creates prompt in html-->
        GetPrompt();
    });

</script>



